@font-face{
font-family:"Conduit ITC W02 Light";
src:url("../fonts/3d2a10f3-0715-41f1-8f44-f86361d14aa5.eot?#iefix");
src:url("../fonts/3d2a10f3-0715-41f1-8f44-f86361d14aa5.eot?#iefix") format("eot"),url("../fonts/ec197339-cae4-44e8-a615-e7777d75f015.woff") format("woff"),url("../fonts/f189abe5-8104-40a6-be05-594f829576c2.ttf") format("truetype"),url("../fonts/ec805e92-21ee-487f-aaeb-eb6c519e2fe1.svg#ec805e92-21ee-487f-aaeb-eb6c519e2fe1") format("svg");
}

@font-face{
font-family:"Conduit ITC W02 Bold";
src:url("../fonts/e31b1c1d-eadf-4907-9d09-17e295cd9eca.eot?#iefix");
src:url("../fonts/e31b1c1d-eadf-4907-9d09-17e295cd9eca.eot?#iefix") format("eot"),url("../fonts/c44090d3-eeae-470f-901b-d6aeca0bcb13.woff") format("woff"),url("../fonts/d923439e-5dea-4878-b329-0f4ef2bfa2ba.ttf") format("truetype"),url("../fonts/a7519460-83ef-45d2-b2b5-e6baee7d7750.svg#a7519460-83ef-45d2-b2b5-e6baee7d7750") format("svg");
}

@font-face{
font-family:"Conduit ITC W02 Medium";
src:url("../fonts/dc4c0afe-265b-4313-a727-8cdf350ec8e9.eot?#iefix");
src:url("../fonts/dc4c0afe-265b-4313-a727-8cdf350ec8e9.eot?#iefix") format("eot"),url("../fonts/dbb42269-c960-40d4-b698-51916107b586.woff") format("woff"),url("../fonts/6465dd6a-2dae-43a0-8374-b167d4d4ab18.ttf") format("truetype"),url("../fonts/e9c57db2-995b-4dca-9985-7d42fe911323.svg#e9c57db2-995b-4dca-9985-7d42fe911323") format("svg");
}

@font-face{
font-family:"ConduitITCW02-MediumIta";
src:url("../fonts/9dcf7d46-bc0c-4ae4-b40c-e1380b71e1f3.eot?#iefix");
src:url("../fonts/9dcf7d46-bc0c-4ae4-b40c-e1380b71e1f3.eot?#iefix") format("eot"),url("../fonts/b7cb92bd-004d-4ea7-8372-7b7a981dc152.woff") format("woff"),url("../fonts/241bdfec-b911-4787-9706-1899ac18c4c8.ttf") format("truetype"),url("../fonts/2feb37f7-ee56-401b-be80-18295757c9e5.svg#2feb37f7-ee56-401b-be80-18295757c9e5") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-55Roma";
src:url("../fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
src:url("../fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"),url("../fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff") format("woff"),url("../fonts/1d238354-d156-4dde-89ea-4770ef04b9f9.ttf") format("truetype"),url("../fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-65Medi";
src:url("../fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
src:url("../fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"),url("../fonts/5b4a262e-3342-44e2-8ad7-719998a68134.woff") format("woff"),url("../fonts/4a3ef5d8-cfd9-4b96-bd67-90215512f1e5.ttf") format("truetype"),url("../fonts/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-67MdCn_694060";
src:url("../fonts/06b85ec8-4a05-49b4-91c2-f44ec792102b.eot?#iefix");
src:url("../fonts/06b85ec8-4a05-49b4-91c2-f44ec792102b.eot?#iefix") format("eot"),url("../fonts/11398868-5e58-467f-86d1-650e10dd998a.woff") format("woff"),url("../fonts/285f76f1-9aeb-40f3-8df6-f87eb061df28.ttf") format("truetype"),url("../fonts/95e9b167-72f4-4e05-8337-e993a249b8b5.svg#95e9b167-72f4-4e05-8337-e993a249b8b5") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-77BdCn_694066";
src:url("../fonts/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix");
src:url("../fonts/77cb0adc-646b-4830-8f4c-3db7adbb8dc4.eot?#iefix") format("eot"),url("../fonts/631bf655-ced5-4627-93d4-89d1bdfe3014.woff") format("woff"),url("../fonts/96740819-d387-437f-b739-9778ddc5e5b9.ttf") format("truetype"),url("../fonts/05729794-671d-4a73-a294-f2f447795319.svg#05729794-671d-4a73-a294-f2f447795319") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-45Ligh";
src:url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
src:url("../fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),url("../fonts/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2") format("woff2"),url("../fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"),url("../fonts/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"),url("../fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

@font-face{
font-family:"HelveticaNeueW02-47LtCn_694048";
src:url("../fonts/3fd2c21d-af8b-45be-a1e2-4e7182b7639e.eot?#iefix");
src:url("../fonts/3fd2c21d-af8b-45be-a1e2-4e7182b7639e.eot?#iefix") format("eot"),url("../fonts/de34f32a-1665-4069-8dd9-61abfe04b68f.woff2") format("woff2"),url("../fonts/4d888997-2061-451b-8569-6cee195e9915.woff") format("woff"),url("../fonts/bc71ac4a-9cc7-4120-a150-788ae80b91ec.ttf") format("truetype"),url("../fonts/3cf3e566-7fc6-488f-8058-e5eb7ac5dc23.svg#3cf3e566-7fc6-488f-8058-e5eb7ac5dc23") format("svg");
}




$base-scale: 1.64rem;

$grid-gutter: 0.6*$base-scale;

$unit-one: 8.33333%;
$unit-two: 16.66667%;
$unit-three: 25%;
$unit-four: 33.33333%;
$unit-five: 41.66667%;
$unit-six: 50%;
$unit-seven: 58.33333%;
$unit-eight: 66.66667%;
$unit-nine: 75%;
$unit-ten: 83.33333%;
$unit-eleven: 91.66667%;
$unit-twelve: 100%;

$break-point-small: 760px;
$break-point-large: 1400px;

/* Colors schema---------------------- */
$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-green: green;
$color-blue: #5C8AF9;
$color-primary: #163c8e;
$color-secondary: #b61b3e;
$color-tertiary: #72B626;
$color-selection: #8D97A3;
$color-light: #eee;
$color-panel: #f4f4f4;

$font-color-primary: #555;
$font-color-secondary: #999;
$font-color-light: #aaa;

$header-font-color-primary: #333;
$header-font-color-secondary: #ccc;

$input-color-font: #555;
$input-color-placeholder: #ccc;
$input-color-border: #ccc;

/* Font Settings ---------------------- */
$font-family-base: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-menu: "HelveticaNeueW02-67MdCn_694060" "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: "Conduit ITC W02 Light" "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-input: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 1em;
$font-size-tiny: 0.6rem;
$font-size-small: 0.85rem;
$font-size-medium: 1rem;
$font-size-big: 1.15rem;
$font-size-huge: 1.3rem;

/* Radiuses ---------------------- */
$radius-small: 0.15rem;
$radius-big: 0.3rem;

/* Mixins ---------------------- */

@mixin font-smoothing($arguments) {
  -webkit-font-smoothing: $arguments;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($arguments) {
  -webkit-animation: $arguments;
  -moz-animation: $arguments;
  -ms-animation: $arguments;
  -o-animation: $arguments;
  animation: $arguments;
}

@mixin text-overflow() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: image-url($image);
    @include background-size($width $height);
  }
}
