/* Defaults ---------------------- */

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $font-color-primary;
  background: $color-white;
  @include font-smoothing(antialiased);
}

body {
  background-color: $color-white;
}

.grid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  @media screen and (min-width: $break-point-large) {
    max-width: 1200px;
  }
}

.grid .grid {
  width: auto;
  min-width: 0;
  margin: 0 $grid-gutter;
}

.grid {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.unit {
  display: block;
  float: left;
  padding: 0 $grid-gutter;
  width: $unit-twelve;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition(all 0.15s ease-out);

  &:hover {
    color: lighten($color-primary, 5%);
    text-decoration: underline;
  }

  &:active {
    color: $color-secondary;
    @include transition(none !important);
  }
}

/* Main Navigation ---------------------- */

.main-navigation-container {
  background-color: $color-white;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.main-navigation {

  .unit.emarsys-logo {
    width: $unit-three;
    padding-bottom: 0.45*$base-scale;
    padding-top: 0.25*$base-scale;
    @media screen and (max-width: $break-point-small) {
      width: $unit-ten;
      padding-top: 0.6*$base-scale;
      padding-bottom: 0.6*$base-scale;
    }

    a {
      display: block;
      text-indent: -999px;
      background: url('../images/logo.png') left center no-repeat;
      height: 40px;
      margin-left: 5px;

    }
  }

  .unit.mobile-menu-button {
    display: none;
    @media screen and (max-width: $break-point-small) {
      display: block;
      width: $unit-two;
      height: 1.8*$base-scale;
      margin-top: 0.3*$base-scale;
    }

    .burger-button {
      display: block;
      float: right;
      width: 44px;
      height: 35px;
      padding: 9px 10px;
      border: 1px solid #ddd;
      margin-top: 0.3*$base-scale;
      border-radius: 4px;

      &:hover {
        background-color: #ddd;
      }

      .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4px;
        border-radius: 1px;
        background-color: #888;

        &:last-child {
          margin-bottom: 0;
        }

      }

    }

  }

  .unit.docs-search-container {
    width: $unit-three;
    float: right;
    margin-top: 0.3*$base-scale;
    @media screen and (max-width: $break-point-small) {
      display: none;
    }

    input[type="text"] {

      &:focus {
        border: 1px solid $color-primary;
        box-shadow: inset 0 1px 3px #ddd;
      }
    }
  }


  .unit.main-menu {
    width: $unit-six;
    @media screen and (max-width: $break-point-small) {
      display: none;
    }

    .main-menu-list {
      margin-top: 0.5*$base-scale;
      float: right;
      font-size: $font-size-small;
      font-family: $font-family-menu;
      @media screen and (max-width: $break-point-small) {
        float: none;
        display: inline-block;
      }



      li {
        margin-left: 0.5*$base-scale;
        margin-right: 0.5*$base-scale;
        letter-spacing: 1px;
        @media screen and (max-width: $break-point-small) {
          display: inline;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
          padding: 0.4*$base-scale;
          @include transition(all 0.15s ease-out);

          &:visited {
            color: $color-primary;
          }

          &:hover {
            color: $color-secondary;
            text-decoration: underline;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
          }

          &.active-menu {
            color: $color-secondary;
          }

        }

      }
    }
  }

}



/* Breadcrumbs ---------------------- */

.wy-breadcrumbs {
  margin: 0.75*$base-scale 0 0 0;

  .wy-breadcrumbs-aside {
    @media screen and (max-width: $break-point-small) {
      display: none;
    }
  }

}



/* Sidebar ---------------------- */

.unit.sidebar {
  width: $unit-four;
  margin-top: 0.6*$base-scale;
  @media screen and (max-width: $break-point-small) {
    display: none;
  }
  @media screen and (min-width: $break-point-large) {
    width: $unit-three;
  }


  .stickynav {
    position: relative !important;
  }

  .wy-nav-side {
    background-color: #F7F7F7;
    padding-top: 0.25*$base-scale;
    padding-bottom: 0.25*$base-scale;
  }

  .wy-menu-vertical {

    a {
      color: $color-primary;

      &:hover {
        text-decoration: underline;
      }

      &.current {
        background-color: $color-tertiary;
        color: #fff;
      }
    }
  }
}

/* Content ---------------------- */


.unit.page-content {
  width: $unit-eight;
  @media screen and (max-width: $break-point-small) {
    width: 100%;
  }
  @media screen and (min-width: $break-point-large) {
    width: $unit-nine;
  }
}


/* HTTP Method ---------------------- */

.http-method {
  border-radius: $radius-small;

  &.post {
    background-color: rgba($color-post, 0.1);
    border: 1px solid rgba($color-post, 0.3);

    .method {
      background-color: $color-post;
    }
  }

  &.get {
    background-color: rgba($color-get, 0.1);
    border: 1px solid rgba($color-get, 0.3);

    .method {
      background-color: $color-get;
    }
  }

  &.put {
    background-color: rgba($color-put, 0.1);
    border: 1px solid rgba($color-put, 0.3);

    .method {
      background-color: $color-put;
    }
  }

  &.delete {
    background-color: rgba($color-delete, 0.1);
    border: 1px solid rgba($color-delete, 0.3);

    .method {
      background-color: $color-delete;
    }
  }


  .method {
    display: inline-block;
    padding: 0.3*$base-scale 0;
    width: 3*$base-scale;
    text-align: center;
    margin-right: 0.3*$base-scale;
    border-radius: $radius-small;
    color: $color-white;
    text-transform: uppercase;
  }

  .path {
    display: inline-block;
    font-style: italic;
  }

}



/* Footer ---------------------- */

.footer-container {
  background-color: #333;
}

.unit.footer {
  width: $unit-twelve;
  text-align: right;

  footer {
    p {
      margin-bottom: 0.2*$base-scale;
      margin-top: 0.2*$base-scale;
      font-size: $font-size-small;
      color: #cdcdcd;
    }
  }

}


